@import "fonts";
@import "settings";
@import "foundation";
@import "animate";

$green: #76bd1d;
$light-grey: #9a989a;
$grey: #56565a;

body {
  height: 100vh;
}

h2 {
  color: $grey;
  font-size: 1.6rem;
}

#home_header {
  hgroup {
    margin: {
      top: 2rem;
      bottom: 2rem;
    }
    padding-left: 100px;
    background: url(/images/home_header.png);
    background-size: 78px 74px;
    background-repeat: no-repeat;
  }
  h1 {
    color: $green;
    text-transform: uppercase;
    margin: {
      bottom: 0;
    }
    line-height: 1.1;
  }
  h2 {
    color: $light-grey;
    font-size: 110%;
    letter-spacing: 3px;
  }
}

#loupe {
  margin: {
    top: 3rem;
    bottom: 3rem;
  }
}

.welcome {
  background-color: $green;
  height: 100vh;
}

.launch_button {
  height: 100px;
  padding-right: 120px;
  background: url(/images/next.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: right 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: $grey;
  background-color: white;
}
