@import "fonts";
@import "settings";
@import "foundation";
@import "animate";

$green: #76bd1d;
$light-grey: #9a989a;
$grey: #56565a;

#home_header {
  hgroup {
    margin: {
      top: 2rem;
      bottom: 2rem;
    }
    padding-left: 100px;
    background: url(/images/home_header.png);
    background-size: 78px 74px;
    background-repeat: no-repeat;
  }
  h1 {
    color: $green;
    text-transform: uppercase;
    margin: {
      bottom: 0;
    }
    line-height: 1.1;
  }
  h2 {
    color: $light-grey;
    font-size: 110%;
    letter-spacing: 3px;
  }
}

#loupe {
  margin: {
    top: 3rem;
    bottom: 3rem;
  }
}

section.welcome {
  background-color: $green;
  height: 85vh;

  h1,h2,h3,h4,h5,h6 {
    color: $grey;
  }
}

section.question {
  h1,h2,h3,h4,h5,h6 {
    color: $green;
    font-weight: 700;
  }

  h2 {
    margin: {
      top: 3rem;
      bottom: 6rem;
    }
  }
}

section.question_h1 {
  background-color: $green;
  height: 5rem;

  h1,h2,h3,h4,h5,h6 {
    line-height: 190%;
    font-size: 250%;
    color: white;
    text-transform: uppercase;
  }
}

section.question_h2 {
  margin-top: 5px;
  background-color: $light-grey;
  height: 3rem;

  h1,h2,h3,h4,h5,h6 {
    line-height: 140%;
    color: white;
    font-weight: 300;
  }
}

.launch_button {
  height: 100px;
  padding-right: 120px;
  background: url(/images/next.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: right 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: $grey;
  background-color: white;
}

.smiley {
  width: 150px;
  height: 150px;
  background-color: transparent;
  background-size: cover;

  &:hover {
    background-color: transparent;
  }

  &.low {
    background-image: url(/images/button_low.png);
    margin-right: 10rem;
  }
  &.medium {
    background-image: url(/images/button_medium.png);
  }
  &.high {
    background-image: url(/images/button_high.png);
    margin-left: 10rem;
  }
}

#progress {
  margin: {
    top: 5rem;
    bottom: 3rem;
  }

  position: relative;
  z-index: 1;

  /* http://codepen.io/ericrasch/pen/Irlpm */
  &:before {
    border-top: 1px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 40%; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .step {
    display: inline-block;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid $light-grey;
    background-color: white;
  }

  .step + .step {
    margin-left: 22px;
  }

  .completed {
    background-color: #e1f1d1;
  }
}
