<section class="question_h1">
  <div class="row">
    <div class="small-12 text-center columns">
      <h1>Camelot Leegstandscan</h1>
    </div>
  </div>
</section>
<section class="question_h2">
  <div class="row">
    <div class="small-12 text-center columns">
      <h4>Wanneer u denkt aan uw leegstand pand, hoe beoordeelt u dan:</h4>
    </div>
  </div>
</section>
<section class="question">
  <div class="row">
    <div class="small-12 text-center columns">
      <h2>{{ questionId }}. {{ question.name }}</h2>
      <button class="smiley low"></button>
      <button class="smiley medium"></button>
      <button class="smiley high"></button>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-centered columns">
      <div id="progress">
        <span class="step completed"></span>
        <span class="step completed"></span>
        <span class="step completed"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="small-12 medium-6 columns">
    <a class="button">Stap terug</a>
  </div>
  <div class="small-12 medium-6 text-right columns">
    <a class="button">Begin opnieuw</a>
  </div>
</div>
