<section class="question_h1">
  <div class="row">
    <div class="small-12 text-center columns">
      <h1><span class="hide-for-small">Camelot</span> Leegstandscan</h1>
    </div>
  </div>
</section>
<section class="question_h2">
  <div class="row">
    <div class="small-12 text-center columns">
      <h4>Wanneer u denkt aan uw leegstand pand, hoe beoordeelt u dan:</h4>
    </div>
  </div>
</section>
<section class="question">
  <div class="row">
    <div class="small-12 text-center columns">
      <h2>{{ questionId }}. {{ question.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-centered justify-space-between columns">
      <button ng-click="answer(0)" class="smiley low"></button>
      <button ng-click="answer(1)" class="smiley medium"></button>
      <button ng-click="answer(3)" class="smiley high"></button>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-centered columns">
      <div id="progress" class="justify-space-between">
        <span class="step" ng-class="{'completed':number<=questionId}" ng-repeat="number in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]"></span>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="small-12 medium-6 columns">
    <a ng-hide="questionId==1" ng-href="#/vraag/{{questionId-1}}" class="back question_button button">Stap terug</a>
  </div>
  <div class="small-12 medium-6 text-right columns">
    <a href="#welcome" class="again question_button button">Begin opnieuw</a>
  </div>
</div>
