<section class="question_h1">
  <div class="row">
    <div class="small-12 text-center columns">
      <h1>Camelot Leegstandscan</h1>
    </div>
  </div>
</section>
<section class="question_h2">
  <div class="row">
    <div class="small-12 text-center columns">
      <h4>Uw eindscore</h4>
    </div>
  </div>
</section>
<div class="row">
  <div class="small-12 medium-4 columns" ng-repeat="part in parts">
    <div class="panel score-panel text-center">
      <h2>{{ part.name }}</h2>
      <div class="smiley" ng-class="smile(part.score)"></div>
    </div>
  </div>
</div>
<section class="total">
  <div class="row">
    <div class="small-12 text-center columns">
      <h2>Uw totaalscore</h2>
      <div class="smiley" ng-class="totalSmile()"></div>
    </div>
  </div>
</section>
